<!-- <div class="corover-chatbot-header">
<div class="avtar"></div>
div class="circle red"></div>
</div> -->

<div class="chatbot__header">
  <!-- <div class="chatbot_botImage">
    <span
      ><img src="https://www.gamerji.com/images/gamerji_logo.png" width="50"
    /></span>
  </div>

  <div class="chatbot_botName">
    <p>Ask Gamerji</p>
  </div> -->

  <div class="bot">
    <div>
      <img
        src="https://cdn.jsdelivr.net/gh/corover/assets@latest/digisaathi-assets/Digi Sathi Logo Open file_CTC-01.png"
        width="55"
        margin-bottom="40px"
        margin-top="20px"
        style="border-radius: 10px; background: white"
      />
    </div>
    <div class="chatbot_botName">{{ botName }}</div>
  </div>

  <span style="float: right"
    ><span class="minimize-icon"></span
    ><span class="exit-icon modal-toggle" clickable="true"> </span
  ></span>
</div>

<div class="chatbot-welcome">
  <p class="welcome-message" style="font-size: medium;">
    <strong>Good {{ greeting }}, {{ botName }} Welcomes You!</strong>
  </p>
</div>

<!-- <div class="bot-icon">
    <img
      class="logo-icon"
      src="https://coroverbackendstorage.blob.core.windows.net/iglcontainer/incom_tax_icon.png" width="50"
    />
  </div>
  <div id="headingText" class="header-text-container">
    <div class="header-text">
      <sup
        ><img
          src="https://coroverbackendstorage.blob.core.windows.net/iglcontainer/incom_tax_icon.png"
          alt=""
          style="margin-bottom: -2px; width: 50px;"
      /></sup>
    </div>
    <div class="subheader-text" id="subText">
      <p>{{ tagline }}</p>
    </div>
  </div> -->
